# Variables de entorno para desarrollo local
DATABASE_URL=postgresql://user:password@localhost:5432/analyticore
JAVA_SERVICE_URL=http://localhost:8080

# Variables para producción en Render
# DATABASE_URL=postgresql://analyticore:password@host:5432/analyticore
# JAVA_SERVICE_URL=https://java-service.onrender.com 