# ================================
# CONFIGURACIÓN PARA PRODUCCIÓN EN RENDER
# ================================

# PostgreSQL de Render (Base de datos remota ya configurada)
DATABASE_URL=postgresql://root:cfCZJcfI19E4MFLj8JQuvXTOsyQ8qqCc@dpg-d292k30gjchc73c9qmkg-a/db_python_mn7n

# Servicio Java desplegado en Render
JAVA_SERVICE_URL=https://java-service.onrender.com
